In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dbName="X_train.csv"
df=pd.read_csv(dbName)

In [18]:
df.StudentID.count()

678

In [13]:
df["sex"][df["sex"]=="F"].count()

394

In [23]:
np.unique(df[df["age"]<=17].Mjob)

array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object)

In [34]:
df.iloc[:,19:]

,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,no,yes,yes,yes,no,4,3,3,1,1,3,0,14,13
1,yes,yes,yes,yes,yes,4,4,3,1,3,4,0,13,15
2,yes,yes,yes,no,no,2,4,4,2,3,4,6,10,11
3,yes,yes,yes,yes,no,5,3,3,1,3,5,0,15,13
4,no,yes,no,yes,yes,4,5,4,1,1,4,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,yes,no,yes,yes,no,5,3,3,1,1,5,4,10,13
674,yes,yes,yes,yes,yes,1,3,5,3,5,1,8,12,10
675,no,yes,yes,yes,no,4,1,1,2,2,5,0,12,13
676,yes,no,yes,yes,yes,4,5,5,1,3,2,0,10,9
677,yes,no,yes,yes,no,5,2,2,1,2,5,0,18,18